<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\ElasticsuiteCms\Model\Page\Indexer\Fulltext\Action\Full"
                type="MageSuite\CmsSearch\Model\Page\Indexer\Fulltext\Action\Full" />
</config>
